*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;

}
.heading{
    background-color:rgb(197, 254, 217);
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.heading1{
    text-align: center;
    font-size: xx-large;
    margin-left: 25%;
    margin-right: 25%;
    padding: 35px;
    border-radius: 50%;
    background-color: red;
    border-width: 8px;
    border-style: dotted;
    border-color: black;
    background-color: rgb(255, 140, 118);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: 30px;
    color: rgb(96, 63, 79);
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-part{
    display: flex;
    padding: 30px;
    background-color: rgb(188, 177, 250);
}
.left-part{
    background-color: rgb(248, 173, 208);
    width:50%;
    padding: 170px;
    border-width: 10px;
    border-radius: 50%;
    margin-right: 30px;
    border-color:rgb(44, 0, 202);
    border-style: dotted;
}
.right-part{
    background-color: rgb(255, 243, 151);
    width:50%;
    padding: 170px;
    border-width: 10px;
    border-radius: 50%;
    border-color:rgb(44, 0, 202);
    
    border-style: dotted;
    



}
.center{
  width: 210px;
  height: 35px;
  font-weight:900;
  font-size: large;
  border-radius: 20px;
  background-color: rgb(208, 131, 250);
  margin-top: 2px;
}
.common{
    font-size: 20px;
    color: saddlebrown;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


